@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 100%;
}

.page-header-container {
  margin: 0 auto;
  width: 1160px;
  min-height: 300px;
  margin-top: 40px;
  background: #FFE17F;
}

.page-header-container-wrap {
  margin: 0 auto;
  padding: 0 60px;
  color: #000000;
}

.catalog-header {
  min-height: 186px;
}


.header-user-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  width: 1075px;
  height: 21px;
  padding: 0;
  margin: auto;
  padding-top: 49px;
  margin-bottom: 40px;
}

.header-user-list {
  display: grid;
  grid-template-columns: 245px 120px 140px;
  justify-items: center;
  align-items: end;
  gap: 5px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;

}

.header-user-form {
  width: 480px;
  opacity: 0.3;
}

.header-user-element {
  width: 120px;
}

.link {
  color: inherit;
}

.navigation-header-list {
  margin: auto;
  padding: 0;
  width: 1041px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.navigation-item {
  padding: 10px;
}

.navigation-item-contacts {
  margin-left: auto;
}

.navigation-item-details {
  margin-left: auto;
}

.navigation-item-button {
  margin-right: auto;

  width: 50px;
  height: 50px;
  background: #FFE17F;
  opacity: 0.2;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
}

.navigation-header-menu {
  grid-column-start: 1;

}

.navigation-item-list {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

.services {
  background: #F0F0F0;
}

.hidden-menu-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

}

.slider {

  width: 100%;

}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-container {
  margin: 0 auto;
  width: 1160px;
}

.slider-item {
  display: flex;
  margin-top: -110px;
}

.slider-img {
  display: block;
  width: 560px;


}

.slider-container {
  display: flex;

}

.slider-container-details {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  text-align: right;
}

.slider-number {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  align-self: right;
  text-align: right;
  color: #FFFFFF;
}

.slider-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-text {

  color: #444444;
}

.slider-details {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.slider-details-details {
  font-size: 36px;
  line-height: 30px;
}

.slider-details-text {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.services {
  background: #F0F0F0;
}

.slider-input-container {
  display: flex;
  position: absolute;
  width: 80px;
  height: 12px;
  left: 1160px;
  top: 555px;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services-link {
  background: #000000;
}

.left-tall-arrow {
  position: absolute;
  width: 20px;
  height: 60px;
  left: 159px;
  top: 440px;
}

.right-tall-arrow {
  position: absolute;
  width: 20px;
  height: 60px;
  left: 661px;
  top: 440px;
}

.category {
  width: 100%;
}

.category-container {
  width: 1160px;
  margin: 0 auto;
}

.category-list {
  margin: auto;
  margin-bottom: 170px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 1160px;

}

.category-item {
  width: 160px;
  display: flex;
  flex-direction: column;

}

.category-item-block {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background: #FFE17F;

}

.category-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;

}

.category-item-virtual-reality {
  position: absolute;
  width: 96.95px;
  height: 54.99px;
  background-image: url("../img/category/virtual-reality.svg");
  top: 53px;
  left: 32px;
}

.category-item-selfie-sticks {
  position: absolute;
  width: 86px;
  height: 117px;
  background-image: url("../img/category/selfie-sticks.svg");
  left: 37px;
  bottom: 0;
}

.category-item-helmet-cams {
  position: absolute;
  width: 71px;
  height: 87px;
  background-image: url("../img/category/helmet-cams.svg");
  top: 38px;
  left: 49px;
}

.category-item-fitness-trackers {
  position: absolute;
  width: 107px;
  height: 65px;
  background-image: url("../img/category/fitness-trackers.svg");
  top: 50px;
  left: 26px;
}

.category-item-smart-watches {
  position: absolute;
  width: 56px;
  height: 98px;
  background-image: url("../img/category/smart-watches.svg");
  top: 31px;
  left: 53px;
}

.category-item-quadcopters {
  position: absolute;
  width: 132px;
  height: 69px;
  background-image: url("../img/category/quadcopters.svg");
  top: 49px;
  left: 14px;
}

.services {
  width: 100%;
}

.services-container {
  display: flex;
  width: 1094px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.services-item {
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #FFE17F;
}

.services-details-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.services-details-text {
  color: #444444;
}

.services-details-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.contacts-delivery {
  width: 100%;
}

.contacts-container-link {
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 97px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F0F0F0;
  cursor: pointer;
}

.contacts-container-link:hover {
  background: #EBEBEB;
}

.contacts-container-link:focus {
  border: 5px solid #AF4FFF;
}

.contacts-container-link:active {
  background: #EBEBEB;
  opacity: 0.3;
}

.contacts-containeer-link-delivery {
  position: relative;
  width: 125px;
  height: 100px;
  background: #FFE17F;
}

.contacts-container-link:hover .contacts-containeer-link-delivery {
  background: #FFC700;

}

.contacts-container-link:active .contacts-containeer-link-delivery {
  background: #FFC700;

}

.contacts-containeer-link-delivery-svg {
  position: absolute;
  top: 35px;
  left: 39px;
  margin: auto;
}

.contacts-container-link-info {
  width: 40px;
  height: 40px;
  margin-right: 31px;
  border: none;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
  cursor: pointer;
}



.contacts-container-link:hover .contacts-container-link-info {
  background: #DCDCDC;
  fill: #000000;

}

.contacts-container-link:hover .contacts-container-link-info-svg {
  fill: #000000;
  opacity: 0;
}

.contacts-delivery {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;

}

.contacts {
  width: 100%;
}

.contacts-container {
  margin: 0 auto;
  padding-bottom: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
}

.contacts-titile {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.delivery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.delivery-container-list {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.delivery-container-item::marker {
  width: 8px;
  height: 8px;
  background: #FFC700;
}

.contacts-container-info {
  font-size: 24px;
  line-height: 30px;
}

.delivery-container-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-container-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mailing {
  width: 100%;
  background: #F0F0F0;
}

.mailing-container {
  margin: 0 auto;
  padding: 75px 140px 130px;
  width: 1160px;
  display: grid;
  grid-template-columns: auto 260px 260px;
  gap: 40px;
}

.mailing-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  grid-column: 1/2;
}

.mailing-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  grid-column: 2/-1;
}

.mailing-form {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  grid-column: 1/3;
}

.mailing-input-container {
  grid-column: 3/4;
}

.mailing-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-footer {
  width: 100%;
  background: #444444;
}

.page-footer-container {
  margin: 0 auto;
  padding: 70px 140px 60px;
  width: 1160px;
}

.page-footer-container-inner {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-contacts-adress-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #FFFFFF;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  margin-right: 7px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  background: #444444;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.main-inner {
  width: 100%;
}

.inner-header {
  width: 100%;
  margin: auto;
}

.inner-header-container {
  margin: 0 auto;
  width: 1160px;
  padding-left: 60px;
  padding-top: 37px;

}

.main-inner-container {
  width: 100%;
}

.main-wrapper {
  margin: 0 auto;
  display: flex;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 50px;
  padding-left: 0;
  width: 425px;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
}

.breadcrumbs-item-main::after {
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/breadcrumbs-1.svg");
  background-position: center;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  min-width: 468px;
  background: #E5E5E5;
}

.catalog-products-filter-wrap {
  min-width: 468px;
  height: 70px;
  background: #DCDCDC;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  width: 236px;
  height: 20px;

}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-filter-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-menu {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
}



.catalog-menu-list {

  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  list-style-type: none;
}

.sorting {
  width: 100%;
  margin-bottom: 70px;
  background: #EBEBEB;
}

.sorting-container {
  margin: 0 auto;
  display: flex;
  width: 972px;


}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 25px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 25px;
}

.catalog-menu-item {
  width: 360px;
  display: grid;
  grid-template-columns: 280px 66px;
  grid-template-rows: 360px 50px;
  align-content: flex-start;
  align-items: flex-end;
  justify-items: stretch;
  row-gap: 32px;
  column-gap: 14px;
}

.catalog-menu-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 100%;
  color: #000000;
}

.catalog-menu-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  grid-column: 2/3;
  grid-row: 2/3;
  color: #444444;
}

.catalog-menu-link {
  margin: 180px 100px;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.catalog-menu-item-new {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.catalog-menu-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  grid-column: 1/-1;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination {
  width: 760px;
  height: 70px;
  margin: auto;
  margin-bottom: 77px;
  background: #EBEBEB;
}

.pagination-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  align-items: center;
  color: #000000;
  margin-right: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 29px;
}

.pagination-page {
  display: block;
  box-sizing: border-box;
  width: 17px;
  height: 19px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
} 

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

