@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
}

.main-index {
  grid-column: 1/3;
  grid-row: 2/13;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-header {
  margin: 40px 140px 0;
  height: 300px;
  color: #000000;
  background: #FFE17F;
}


.header-user-menu {
  display: grid;
  grid-template-columns: 560px 560px;
  justify-items: end;
  width: 1075px;
  height: 21px;
  padding: 0;
  margin: auto;
  margin-bottom: 40px;
}

.header-user-list {
  display: grid;
  grid-template-columns: 245px 120px 140px;
  gap: 5px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;

}

.header-user-form {
  width: 480px;
  opacity: 0.3;
}

.header-user-element {
  width: 120px;
}

.link {
  color: inherit;
}

.navigation-header-list {
  margin: auto;
  padding: 0;
  width: 1041px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.navigation-item {
  padding: 10px;
}

.navigation-item-contacts {
  margin-left: auto;
}

.navigation-item-details {
  margin-left: auto;
}

.left-tall-arrow {
  width: 20px;
  height: 60px;
}

.right-tall-arrow {
  width: 20px;
  height: 60px;
}

.navigation-item-button {
  margin-right: auto;

  width: 50px;
  height: 50px;
  background: #FFE17F;
  opacity: 0.2;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.navigation-header-menu {
  grid-column-start: 1;

}

.navigation-item-list {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

.services {
  background: #F0F0F0;
}

.hidden-menu-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

}

.slider {
  margin: auto;
  width: 1161px;
}

.slider-item {
  display: flex;
  flex-direction: row;
}

.slider-img {
  width: 560px;
  height: 560px;
  max-width: 100%;
  height: auto;
}

.slider-container {
  display: flex;

}

.slider-number {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
}

.slider-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-text {

  color: #444444;
}

.slider-details {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.slider-details-details {
  font-size: 36px;
  line-height: 30px;
}

.slider-details-text {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.services {
  background: #F0F0F0;
}

.slider-input-container {
  display: flex;
  flex-direction: row;
}

.category-list {
  margin: auto;
  margin-bottom: 170px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 1160px;

}

.category-item {
  width: 160px;
  display: flex;
  flex-direction: column;

}

.category-item-block {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background: #FFE17F;

}

.category-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

}

.services-container {
  display: flex;
  width: 1094px;
  margin: 0 auto;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.services-item {
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #FFE17F;
}

.services-details-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.services-details-text {
  color: #444444;
}

.services-details-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.contacts-container {
  margin: 90px 140px;
  display: grid;
  grid-template-columns: 560px 560px;
  width: 11600px;
}

.contacts-delivery {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  height: 100px;
  grid-column: 1/-1;
  text-transform: uppercase;
  background: #F0F0F0;
}

.contacts-titile {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.delivery-container-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

}

.contacts-container-info {
  font-size: 24px;
  line-height: 30px;
}

.delivery-container-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contact-container-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mailing {
  background: #F0F0F0;
}

.mailing-container {
  padding: 75px 140px 130px;
  display: grid;
  grid-template-columns: auto 260px 260px;
  gap: 40px;
}

.mailing-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  grid-column: 1/2;
}

.mailing-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  grid-column: 2/-1;
}

.mailing-form {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  grid-column: 1/3;
}

.mailing-input-container {
  grid-column: 3/4;
}

.mailing-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-footer {
  background: #444444;
}

.page-footer-container {
  margin: 70px 140px 60px;
}

.page-footer-container-inner {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-contacts-adress-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #FFFFFF;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  margin-right: 7px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  background: #444444;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.main-inner {}

.main-wrapper {
  display: flex;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-left: 200px;
  margin-bottom: 14px;
  margin-top: 37px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 200px;
  margin-bottom: 50px;
  padding-left: 0;
  width: 425px;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  width: 468px;
  background: #DCDCDC;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 25px;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-filter-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-menu {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
}



.catalog-menu-list {

  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  list-style-type: none;
}

.sorting {
  display: flex;
  flex-direction: row;
  width: 972px;
  margin-bottom: 70px;
  background: #EBEBEB;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 25px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 25px;
}
.catalog-menu-item {
  width: 360px;
  display: grid;
  grid-template-columns: 280px 66px;
  grid-template-rows: 360px 50px;
  align-content: center;
  align-items: flex-end;
  justify-items: stretch;
  row-gap: 32px;
  column-gap: 14px;
}

.catalog-menu-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 100%;
  color: #000000;
}

.catalog-menu-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  grid-column: 2/3;
  grid-row: 2/3;
  color: #444444;
}

.catalog-menu-link {
  margin: 180px 100px;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.catalog-menu-item-new {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.catalog-menu-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  grid-column: 1/-1;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination {
  width: 760px;
  height: 70px;
  margin: auto;
  margin-bottom: 77px;
  background: #EBEBEB;
}

.pagination-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  align-items: center;
  color: #000000;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-page {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
